@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
header img {
   width: 13%;
}
    
figure img {
    max-width: 100%;
    height: 600px;
}


main h2 {
    font-size: 2.5rem;
}

nav ul li a {
    padding : 15px;
    margin-left: 15px;
    font-size: 1.2rem;
}
 
.sideBySide {
    flex-direction: column;
}
figure img {
    margin-top: 0;
    margin-bottom: 15px;
}

.weather{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
}

.weather h3 {
    flex: 0 1 100%;
}
    
.current {
    width: 33%;
}
.current .status {
    text-align: center;
}
.current picture img {
    vertical-align: middle;
}
.highlow {
    width: 33%;
}
.highlow p {
    width: 100%;
    font-size: 1.2rem;
    line-height: 75%;
}

.conditions {
    width: 33%;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    vertical-align: top;
    font-size: 1.2rem;
}
.conditions p {
    width: 100%;
}

.forecast {
    width: 100%;
    font-size: 1.7rem;
}
.town-article p img {
    width: 100%; 
}
    
#gallery {
    grid-template-columns: repeat(3, 1fr);
}
#gallery figure {
    grid-gap: 0;
    padding-bottom: 15px;
}
#gallery img {
    margin-right: 1rem;
    width: 100%;
    height: 330px;
}
#gallery figure:hover {
    box-shadow: 5px 5px 10px #044068;
}
}
