body {
    background-color: cornsilk;
    font-family: Ubuntu, sans-serif;
}
/*CSS for container*/
div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
/*CSS for table*/
table {
    border-spacing: 0px;
    box-shadow: 6px 6px 11px #044068;
}
tr, th, td {
    border: .5px solid gray;
    text-align: center;
    padding: 5px;
}
thead {
    background-color: #7fb9c2;
    font-size: 1.5rem;
}
thead tr:nth-child(2) {
    background-color: #628ca6;
    color: white;
    font-size: 1rem;
}
tbody {
    background-color: #e7f0ed;
}
tbody th {
 font-weight: normal;
}
tbody .alt {
    background-color: #e7ffed;
}
tbody tr:nth-last-child(3) td:nth-last-child(1) {
    background-color: #628ca6;
    color: white;
}
tbody tr:nth-child(5) th {
    font-style: italic;
}
tfoot {
    background-color: #7fb9c2;
    font-size: .7rem;
}