nav {
    background-color: #084C72;
    margin: 0;
}

ul.nav {
    margin: 10px;
    line-height: 50px;
}
ul.nav li {
    float: left;
    margin: 0 15px;
    list-style: none;
}
ul.nav li a {
    color: #fff;
    text-decoration: none;
}

img.hero {
    display: inherit;
    position: relative;
    width: 100%;
}

.divHero {
    clear: both;
    float: none;
    margin-bottom: 30px;
    display: inline-block;
}

section.weathersummary {
    margin-top: -316px;
    z-index: 110;
    width: 30%;
    background-color: lightblue;
    position: relative;
    padding: 20px 47px;
    line-height: 7px;
    margin-left: 20px;
    height: auto;
}

section.forecast {
    background-color: darkblue;
    color: white;
}

section.forecast h3 {
    text-align: center;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

