body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    display: grid;
    
}
header {
    padding: 10px;
    background-color: #3A8BC2;
    color: #ffffff;
    margin-bottom: 20px;
    
}

nav {
    background-color: #084C72;
    margin: 0;
}

ul.nav {
    margin: 10px;
    line-height: 50px;
}
ul.nav li {
    float: left;
    margin: 0 15px;
    list-style: none;
}
ul.nav li a {
    color: #fff;
    text-decoration: none;
}

.container{
    margin: 0 10%
}

.col-3 {
    width: 32%;
    padding: 5px;
    float: left;
}

.conditions.col-3 {
    background-color: #084C72;
    float: right;
    width: 281px;
    margin-top: 20px;
    box-shadow: 1px 1px 25px #000;
}

div.conditions p {
    float: left;
    margin: 49px 10px;
}

img.condition {
    width: 44%;
    float: left;
}

img.logo {
    width: 280px;
    float: left;
}

h1{
    text-align: center;
}