/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

header, nav, main, footer {
}
header {
    margin-left: 10px;
    display: flex;
    width: 95%;
    overflow: hidden;
}
header img {
    display: inline-flex;
    margin-top: 5px;
    height: 15vw;
}
header div {
    flex-grow: 1;
    
}
header h1 {
    font-size: 1.9rem;
    color: #044068;
    margin-top: 0;
    padding-top: 0;
}
header .subheading {
    font-size: 1.1rem;
    color: #00260e;
    margin-bottom: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    background-color: #000c26;
    margin-bottom: 10px;
    overflow:auto;
}
nav button {
    margin: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul.hide {
    display: none;
}

nav ul li {
}

nav ul li a {
    display: inline-flex;
    background-color: #000c26;
    color: #fc9928;
    text-decoration: none;
    font-size: 3.0vw;
    padding: 10px;
    width: 100%;
}
nav ul li.active a {
    color: goldenrod;
}
nav ul li a:checked, nav ul li a:visited {
    color: #fc9928;
}
nav ul li a:hover {
    background-color: #021847;
    color: #fc9928;
}

main {flex: 1;}
main h2 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

.highlow, .conditions, .current {
     font-weight: bold;  
}

.weather h3 {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 1px solid #044068;
    background-color: cornsilk;
    color: #000c26;
    font-size: 1.5rem;
}
.weather {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.current {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.current #status {
    flex-basis: 100%;
    font-size: 2.5rem;
}
.current picture {
    flex-basis: 100%;
    overflow: hidden;
}
.current picture img {
    width: 35%;
}
.highlow {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}
.highlow p{
}
.conditions {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.forecast {
    display: none;
}

.town-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    margin-top: 3px;
    margin-bottom: 3px;
}

.article-head {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.town-article p img {
    width: 100%; 
}

footer {
    display: inline-flex;
    flex-direction: column;
    background-color: #000c26;
    color: #fc9928;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
    padding-top: 5px;
    margin-top: auto;
    flex-shrink: 0;
}
footer aside {}
footer>p {}

/* Gallery Specifics */
#gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
#gallery figure {
    display: grid;
    grid-gap: 7px;
}
#gallery figure img {
}
#gallery figure figcaption {
    text-align: center; 
}
#gallery figure a {
    color: #6d39ba;
}

/* Storm Center Specifics */
#strm-cntr {
    border: 2px solid #000;
    margin-bottom: .5em;
    overflow: hidden;
}
#strm-cntr h1 {
    text-align: center;
    color: #fc6a02;
}

#strm-cntr form fieldset {
    background-color: #02385b;   
}

#strm-cntr form legend {
    font-size: 1.3rem;
    color: #fff;
    padding: .3em;
    background-color: #00183f;
}

#strm-cntr .strm-svr {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin-top: 1em;
}
#strm-cntr .strm-svr span {
    margin: 5px;
}

#strm-cntr form label span {
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 1em;
}
#strm-cntr .radio{
    color: #fff;
}

#strm-cntr form input.submitbutton {
    width: 120px;
    height: 35px;
    background-color: #fc9928;
}

#strm-cntr form textarea {
    width: 100% ;   
}

/* Thanks Page Specifics*/
#thankyou h1 {
    font-size: 1.5rem;
    text-align: center;
}

#thankyou h2 {
    font-size: 1.2rem;
    text-align: center;
}

#thankyou h3 {
    font-size: 1rem;
    text-align: center;
}

/* Index Page Specifics*/
.home-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.home-page article {
    display: grid;
    margin-bottom: 8px;
    background-color: #f2ebe3;
    border: solid 1px #bfbfbf;
    width: 100%;
}

.home-page article p {
    margin: 5px;
    padding: 0;
}

.home-page h1 {

}

.home-page h3 {

}

.home-page article ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    
}
.home-page article ul li {
    margin-bottom: 4px;
    text-decoration: underline;

}

.home-page article img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.home-page .franklin img {
    width: 50px;   
}