/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

header, nav, main, footer { 
}
header {
    margin-left: 10px;
}
header h1 {
    font-size: 1.9rem;
    color: #044068;
    margin-top: 0;
    padding-top: 0;
}
header img {
    display: inline-flex;
    margin-top: 5px;
   width: 30%;
}
header .subheading {
    font-size: 1.1rem;
    color: #00260e;
    margin-bottom: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    background-color: #000c26;
    margin-bottom: 10px;
    overflow:auto;
}
nav button {
    margin: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul.hide {
    display: none;
}

nav ul li {
}

nav ul li a {
    display: inline-flex;
    background-color: #000c26;
    color: #fc9928;
    text-decoration: none;
    font-size: 3.0vw;
    padding: 10px;
    width: 100%;
}
nav ul li.active a {
    color: goldenrod;
}
nav ul li a:checked, nav ul li a:visited {
    color: #fc9928;
}
nav ul li a:hover {
    background-color: #021847;
    color: #fc9928;
}

main {}
main h2 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

.highlow, .conditions, .current {
     font-weight: bold;  
}

.weather h3 {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 1px solid #044068;
    background-color: cornsilk;
    color: #000c26;
    font-size: 1.5rem;
}
.weather {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.current {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.current .status {
    flex-basis: 100%;
    font-size: 2.5rem;
}
.current picture {
    flex-basis: 100%;
    overflow: hidden;
}
.current picture img {
    width: 35%;
}
.highlow {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.highlow p{
}
.conditions {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.forecast {
    display: none;
}

.town-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    margin-top: 3px;
    margin-bottom: 3px;
}

.article-head {
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.town-article p img {
    width: 100%; 
}

footer {
    display: inline-flex;
    flex-direction: column;
    background-color: #000c26;
    color: #fc9928;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: .7rem;
    padding-top: 5px;
}
footer aside {}
footer>p {}

/* Gallery Specifics */
#gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
#gallery figure {
    display: grid;
    grid-gap: 7px;
}
#gallery figure img {
}
#gallery figure figcaption {
    text-align: center; 
}
#gallery figure a {
    color: #6d39ba;
}